In [6]:
import pandas as pd
from config import username, password
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/EmployeeSQL(3)')

conn = engine.connect()

In [7]:
data = pd.read_sql("SELECT * FROM departments", conn)

In [8]:
data

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service